<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>

        <!-- remixicons -->
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
            rel="stylesheet"
        />

        <!--  bootsrap -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
        />

        <!-- custom css -->
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/navbar.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/footer.css' %}" />

        <link rel="stylesheet" type="text/css" href="{% static 'app/css/'|add:css %}" />
    </head>
    <body>
        <!-- navbar -->
        {% include 'app/layouts/navbar.html' %}
        <div class="container header-page">
            <!-- content -->
            {% block main-content %}{% endblock main-content %}
            <!-- footer -->
            {% include 'app/layouts/footer.html' %}
        </div>

        <script src="{% static 'app/js/navbar.js' %}"></script>
        <script src="{% static 'app/js/main.js' %}"></script>
        <script src="{% static 'app/js/footer.js' %}"></script>
        <script src="{% static 'app/js/'|add:js %}"></script>
    </body>
</html>
