<!DOCTYPE html>
<!-- extends app -->
{% extends "app/base.html" %} {% load static %}

<!-- title -->
{% block title %}<title>{{ title }}</title>{% endblock title %}

<!-- main content -->
{% block main-content %}

<div class="d-flex flex-column align-items-center mt-3">
    <h1>Meet Our Team.</h1>
    <p class="mt-4 col-8">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem deserunt ipsum unde
        eligendi illo praesentium cupiditate porro eaque! Quisquam at aliquid maiores eveniet vitae
        magnam autem rerum laboriosam aspernatur a?
    </p>
</div>
<div class="row mt-5">
    <div class="d-flex justify-content-center gap-3">
        {% for _ in "12345" %}
        <div class="col-2">
            <img src="{% static 'app/image/(2).webp' %}" class="img-fluid img-teams" alt="" />
            <p class="text-center mt-2">Muhamad Khoirul Fahmi</p>
            <p class="text-center m-0">Universitas Singaperbangsa Karawang</p>
            <p class="text-center">2010631170092</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main-content %}
