<!DOCTYPE html>
<footer class="py-4 px-5 mt-5 mb-3">
    <div class="row">
        <div class="col-10">
            <h4 class="m-0">Metal Defect</h4>
            <h4 class="">Detection</h4>
            <p class="mt-5 mb-0">© 2023 Orbit Academy, Inc</p>
        </div>
        <div class="resource-box col-2 d-flex flex-column justify-content-between">
            <h4 class="ps-3">Resource</h4>
            <div class="ps-3">
                <a href="https://github.com/khoiruuuls/metal-defect-detection">
                    <li>Github</li>
                </a>
                <li>Dataset</li>
                <a href="https://orbitfutureacademy.id/">
                    <li>Orbit Academy</li>
                </a>
            </div>
        </div>
    </div>
</footer>
