<!DOCTYPE html>
<div class="pt-3 fixed-top">
    <nav class="container navbar-orbit">
        <ul class="d-flex justify-content-evenly m-0 py-2 px-0">
            <a href="/teams">
                <li class="nav-item" id="team">Team</li>
            </a>
            <a href="/">
                <li class="nav-item active" id="home-link">Home</li>
            </a>
            <a href="/abouts">
                <li class="nav-item" id="about">About</li>
            </a>
        </ul>
    </nav>
</div>
